.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 15px 0px;
  font-family: arial, sans-serif;
  color: #70757a;
}

footer p {
  font-size: 15px;
  border-bottom: 1px solid #dadce0;
  padding: 0px 30px 15px;
}

.footer .footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 14px;
}

.footer .footer-links ul {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
}

.footer .footer-links ul li {
  display: block;
  padding: 10px 10px 5px 0;
  white-space: nowrap;
}

.footer .footer-links ul li {
  margin: -5px 10px;
}

.footer .footer-links ul li a {
  color: #70757a;
}

@media (min-width: 1280px) {
  .footer .footer-links {
    justify-content: space-between;
    padding: 0 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .footer .footer-links {
    justify-content: space-evenly;
  }
}
