.form-container form {
  position: relative;
}

.form-container form label.search-icon {
  position: absolute;
  left: 12px;
  top: 12px;
}

.form-container form label.search-icon i {
  color: #9aa0a6;
}

.form-container form label.microphone-icon {
  position: absolute;
  width: -10%;
  right: 10px;
  top: 5px;
}

.form-container input {
  padding: 12px;
  padding-left: 30px;
  padding-right: 30px;
  width: 300px;
  border: 1px solid #dfe1e5;
  border-radius: 30px;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container form input:hover {
  box-shadow: 0px 2px 4px 2px #cccccc;
}
